* {
    list-style-type: none;
}
.file-tree-item {
    font-size: 16px;
    background-color: transparent;
    color: rgb(255, 214, 163);
    border: none;
}

#file-tree-head {
    list-style-type: none !important;
}

#file-tree-head {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px rgb(255, 214, 163);
    padding: 20px 120px 50px 30px;
    padding-right: 40px;
    font-size: 20px;
}

#file-tree-head-empty {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px rgb(255, 214, 163);
    padding: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 14px;
}