// h4 {
//     font-size: 14px;
// }

.gql-endpoint {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(216, 216, 216);

}

#test-title {
    padding: 8px;
}

#server-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

// #operationIsMutation {
//     color: green;
//     background-color: yellow;
// }

// .file {
//     align-self: flex-start;
// }

// .test {
//     align-self: center;
// }

// .code {
//     align-self: flex-end;
// }