// h4 {
//     font-size: 14px;
// }

.rest-endpoint {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(216, 216, 216);
 
}

#test-title {
    padding: 8px;
}
#server-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

// .file {
//     align-self: flex-start;
// }

// .test {
//     align-self: center;
// }

// .code {
//     align-self: flex-end;
// }

