#file-upload-head {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.MuiButton-label {
    border-bottom: none !important;

}

.MuiButton-containedPrimary {
    margin-left: 12px !important;
    min-width: 20px;

    text-decoration: none !important;
}
.MuiSvgIcon-root {
    padding: 4px;
    margin-left: 4px;
}

.MuiButton-containedPrimary {
    background-color: #32c2b5 !important;
    // color: rgb(52, 52, 52) !important;
    display: inline flex !important;
    margin: 12px !important ;
    // margin: 2px;
}
.MuiInputBase-input {
    // margin-right: -90px !important;
    box-shadow: none;
    color: white !important;
    text-align: center;
}
.MuiInput-underline:after {
    border-bottom: 2px solid #ffad3f !important;

}
.MuiInput-root {
    border-bottom: 2px solid #32c2b5 !important;
    // padding: 6px 6px !important;
    // margin: 8px;
}
.MuiTouchRipple-root {
    color: #32c2b5;
}
.aws-btn {
    font-family: Arial, Helvetica, sans-serif;
    --button-default-height: 50px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 7px;
    --button-horizontal-padding: 25px;
    --button-raise-level: 7px;
    --button-hover-pressure: 3;
    --transform-speed: 0.175s;
    --button-primary-color: #32c2b5;
    --button-primary-color-dark: #167970;
    --button-primary-color-light: #000000;
    --button-primary-color-hover: #b1ece6;
    --button-primary-border: 0px solid #ffffff;
    --button-secondary-color: #f8ac40;
    --button-secondary-color-dark: #7e5011;
    --button-secondary-color-light: #000000;
    --button-secondary-color-hover: #ffd9a3;
    --button-secondary-border: none;
    --button-anchor-color: #b30000;
    --button-anchor-color-dark: #791616;
    --button-anchor-color-light: #000000;
    --button-anchor-color-hover: #ff0000;
    --button-anchor-border: 1px solid #922a2a;
    }