/* Dropdown Button */
.dropbtn {
    color: #1e1e21;
    font-size: 12px;
    border: none;

    background-color: #1e1e21;
  }
#nav-text {
  margin-top: 10px;
}
.port {
  text-align: right;
  color: #ffffff;


}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;
    // border-bottom: solid 4px rgb(75, 162, 155) !important;
  }
