// h3 {
//     font-size: 14px;
// }

// .test-builder {
//     display: grid;
//     justify-content: center;
//     color: rgb(216, 216, 216);
//     width: 15vw;
// }

// .file {
//     align-self: flex-start;
// }

// .test {
//     align-self: center;
// }

// .code {
//     align-self: flex-end;
// }
.test-builder {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px rgb(255, 214, 163);
    padding: 60px 60px 60px 60px;
    text-align: center;
}

.aws-btn {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 5px;
    --button-default-height: 50px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 7px;
    --button-horizontal-padding: 25px;
    --button-raise-level: 7px;
    --button-hover-pressure: 3;
    --transform-speed: 0.175s;
    --button-primary-color: #32c2b5;
    --button-primary-color-dark: #167970;
    --button-primary-color-light: #000000;
    --button-primary-color-hover: #b1ece6;
    --button-primary-border: 0px solid #ffffff;
    --button-secondary-color: #f8ac40;
    --button-secondary-color-dark: #7e5011;
    --button-secondary-color-light: #000000;
    --button-secondary-color-hover: #ffd9a3;
    --button-secondary-border: none;
    --button-anchor-color: #b30000;
    --button-anchor-color-dark: #791616;
    --button-anchor-color-light: #000000;
    --button-anchor-color-hover: #ff0000;
    --button-anchor-border: 1px solid #922a2a;
    }
