h3 {
    font-size: 14px;
}

.test-builder {
    display: grid;
    justify-content: center;
    color: rgb(216, 216, 216);
    width: 15vw;
}

.file {
    align-self: flex-start;
}

.test {
    align-self: center;
}

.code {
    align-self: flex-end;
}